.version.index /* version checker */
{
	color: #0000F7;
	background-color: #26D83F;
}

#page
{
	z-index: 1;
	min-height: 839px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 26px;
	padding-bottom: 24px;
	width: 100%;
}

#u104-6
{
	z-index: 2;
	min-height: 59px;
	position: relative;
	width: 72.19%;
	margin-left: 13.86%;
}

#pu204
{
	margin-top: 26px;
	width: 93.44%;
	margin-left: 3.23%;
}

#u204
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 56.08%;
}

#u203-7
{
	z-index: 14;
	min-height: 333px;
	background-color: transparent;
	color: #4E4E4E;
	line-height: 26px;
	font-size: 21px;
	font-family: garamond-premier-pro-subhead, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	width: 41.59%;
	left: 58.42%;
}

#u252-4
{
	z-index: 30;
	min-height: 21px;
	background-color: transparent;
	color: #8E8E92;
	text-align: right;
	font-family: garamond-premier-pro-subhead, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	width: 32.67%;
	left: 23.19%;
}

#u223-9
{
	z-index: 21;
	min-height: 138px;
	background-color: transparent;
	color: #4E4E4E;
	line-height: 26px;
	font-size: 21px;
	font-family: garamond-premier-pro-subhead, serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 4px;
	position: relative;
	width: 92.4%;
	margin-left: 4.38%;
}

#pu504-6
{
	margin-top: -8px;
	width: 96.67%;
	margin-left: 3.65%;
}

#u504-6
{
	z-index: 36;
	min-height: 40px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0px;
	color: #B581DC;
	font-size: 18px;
	font-family: garamond-premier-pro-subhead, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	width: 39.77%;
}

#u504-4
{
	font-style: italic;
}

#u502
{
	z-index: 34;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 13.8%;
	left: 41.06%;
}

#u502_img
{
	width: 100%;
}

#u517
{
	z-index: 42;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	width: 43.86%;
	left: 56.15%;
}

#u501-5
{
	z-index: 43;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: garamond-premier-pro-subhead, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u501
{
	color: #B581DC;
}

#u501-2
{
	text-decoration: underline;
	color: #4679FF;
}

#u514
{
	z-index: 48;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 29.73%;
	left: 66.1%;
}

.ie #u514
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u111-4
{
	z-index: 8;
	min-height: 21px;
	margin-top: 21px;
	position: relative;
	width: 70.63%;
	margin-left: 14.69%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

